ultralytics>=8.0.0
huggingface_hub>=0.20.0
torch>=2.0.0
torchvision>=0.15.0
opencv-python>=4.8.0
pillow>=9.5.0
pyyaml>=6.0
kaggle>=1.6.0
certifi>=2023.5.7
safetensors>=0.4.0
kornia>=0.7.0
timm>=0.9.0
transformers>=4.30.0
pulp>=3.3.0