# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

training_images

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploaded files
public/uploads/*
!public/uploads/.gitkeep

public/annotated/*
!public/annotated/.gitkeep

# Temporary files
temp_*.json
temp_*.jpg
temp_*.jpeg
temp_*.png

# OS files
.DS_Store
Thumbs.db
